<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encurtador de Links</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="google-adsense-account" content="ca-pub-1340887509407513">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1340887509407513"
     crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>Encurtador de Links</h1>
        <input type="text" id="url" placeholder="Cole seu link aqui...">
        <button onclick="encurtarLink()">Encurtar</button>
        <div id="resultado"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
